
  <div class="container">
    <h1>Welcome Admin</h1>
    <br>
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-primary">
          <a routerLink="/admin/employeedetails">Add New Employee</a>
        </button>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-primary">
          <a routerLink="/admin/adddepartment">Add New Department</a>
        </button>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-primary">
          <a routerLink="/admin/addgrade">
            Add New Grade
          </a> 
          </button>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-primary">
          <a routerLink="/admin/addgradedetail">
            Employee Grade Details
          </a>
          
        </button>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-primary">
          <a routerLink="/admin/monthlysalary">
            Prepare Monthly Salary
          </a>
          </button>
      </div>
    </div>
  </div>
